<h2 class="title">
  <%= @feed.title %>
</h2>


 <div class="products">
		<%= render :partial=>@feed.reload.products %>
</div>

<div class='error'>
</div>
 

<h3>Add a product:</h3>

<%= render "products/form"%>

