<h2 class="title">
  <%= @feed.title %>
</h2>

<%= link_to 'Add new product', controller: "products", action: "new", :feed_id => @feed.id %>

 <div class="products">
		<%= render @feed.reload.products %>
</div>




