<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>A fost sters un feed: </h4>
    <p>
      Titlul: <%= @title %>
    </p>

     <p>
      Numarul de produse: <%= @count %>
    </p>
    
  </body>
</html>