<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4> Un produs a fost adaugat. </h4>
    <p>
      Titlu feed: <%= @title_feed %>
    </p>

     <p>
      Titlu produs: <%= @title_product %>
    </p>
    
  </body>
</html>