.navbar-default .navbar-brand{
	font-family: "Josefin";
	font-weight: 700;
	font-style: italic;
	font-size: 20px;
	color: #EC1F35;
}

.body-container{
	padding: 100px 0;
}

table td,
table th{
	text-align: center;
}

.page-title{
	margin-bottom: 50px;
	border-bottom: 1px solid #ccc;
}

.page-title h1{
	font-family: "Open Sans";
	font-weight: 600px;
	font-size: 25px;
	color: #000;
}
.form-horizontal{
	margin: 0 0 30px;
}
.form-horizontal .form-group{
	margin-left: 0;
}

.back-button{
	background: #EC1F35;
	color: #fff;
	font-size: 15px;
	display: inline-block;
	padding: 10px 20px;
}
.back-button:hover{
	color: #fff;
	text-decoration: none;
}

h2.title{
	color:  #EC1F35;	
	font-size: 20px;
	padding-bottom: 50px;
}

.show-product{
	padding: 20px 0;
}

.show-product img{
	border: 1px solid #000;
}